/* THE DESKTOP SETTINGS */
/* Above 450px */

@media (min-width: 28.125em) {
  /**********************/
  /* Global Styles */
  /**********************/
  /* To align the content such as the design file */
  main {
    transform: translateY(-0.3125rem);
  }
  /**********************/
  /* Component Styles */
  /**********************/

  .section-single-price {
    max-width: 39.6875rem;
    border-radius: 0.5rem;

    /* The Grid Template */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  /* The Area - Join our community */
  .join-us {
    padding: 2.5rem;
    grid-column: 1 / -1;
  }

  .join-us__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.0187rem;
  }
  .join-us__highlight {
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: -0.0141rem;
    margin-bottom: 0.6875rem;
  }
  .join-us__description {
    font-size: 1rem;
    letter-spacing: -0.0125rem;
  }

  /* The Area - Monthly Subscription */
  .subscription {
    padding: 2.5rem 2.5rem 2.4375rem 2.5rem;
  }

  .subscription__price-area {
    /* The Flexbox Template */
    align-items: center;
  }

  .subscription__button:link,
  .subscription__button:visited {
    /* To add the button */
    max-width: 14.8125rem;
    height: 3rem;
    background: #c0df33;
    box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.0973011);
    border-radius: 0.3125rem;
  }
  .subscription__button:hover,
  .subscription__button:active {
    color: #fff;
    background-color: #2ab3b1;
    border: 0.125rem solid #ffffff;
    border-radius: 0.3125rem;
  }

  /* Area - Why Us */
  .why-us {
    padding: 2.5rem;
  }
}
