/* THE MOBILE FIRST SOLUTION */
/* Under 450px */

/* To add the font family */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/**********************/
/* Global Styles */
/**********************/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: #e6eff5;

  /* To center the content */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 4.5rem 2rem 3.875rem;
}

/**********************/
/* Component Styles */
/**********************/

.section-single-price {
  min-width: 19.4375rem;
  background: #ffffff;
  box-shadow: 0 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
  overflow: hidden;
  border-radius: 0.3125rem;

  /* The Grid Template */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

/* The Area - Join our community */
.join-us {
  padding: 1.75rem 1.5rem 2rem;
}

.join-us__title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: -0.0156rem;
  color: #2ab3b1;

  margin-bottom: 1.5rem;
}

.join-us__highlight {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.0117rem;
  color: #c0df33;

  margin-bottom: 1rem;
}

.join-us__description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  letter-spacing: -0.0109rem;
  color: #9aa7be;
}

/* The Area - Monthly Subscription */
.subscription {
  background: #2ab3b1;
  padding: 1.5rem;
}

.subscription__title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: -0.0141rem;
  color: #ffffff;
  margin-bottom: 1.125rem;
}

.subscription__price-area {
  /* The Flexbox Template */
  display: flex;
  align-items: flex-end;
  gap: 0.6875rem;

  margin-bottom: 0.25rem;
}

.subscription__price {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3125rem;
  letter-spacing: -0.025rem;
  color: #ffffff;
}

.subscription__price-text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.subscription__description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  letter-spacing: -0.0125rem;
  color: #ffffff;

  margin-bottom: 1.625rem;
}

.subscription__button-area {
  margin-top: auto;
}

.subscription__button:link,
.subscription__button:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: -0.0125rem;
  color: #ffffff;

  transition: background-color 0.3s;

  /* To add the button */
  max-width: 16.4375rem;
  height: 3rem;
  background: #c0df33;
  box-shadow: 0 0.625rem 0.625rem rgba(0, 0, 0, 0.0973011);
  border-radius: 0.3125rem;

  /* To center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription__button:hover,
.subscription__button:active {
  color: #fff;
  background-color: #2ab3b1;
  border: 0.125rem solid #ffffff;
  border-radius: 0.3125rem;
}

/* The Area - Why Us */
.why-us {
  padding: 1.5rem;
  background-color: rgba(42, 179, 177, 0.888);
}

.why-us__title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: -0.0141rem;
  color: #ffffff;

  margin-bottom: 1.125rem;
}

.why-us__description li {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.0109rem;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;

  list-style: none;
}

/* To add the h1 tag for screen readers */
.sr-only {
  position: absolute;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
