/* THE MOBILE FIRST SOLUTION */
/* Under 500px */

/* To add the font family */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/**********************/
/* Global Styles */
/**********************/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #e6eff5;

  /* To center the content */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 72px 32px 62px;
}

/**********************/
/* Component Styles */
/**********************/

.section-single-price {
  min-width: 311px;
  background: #ffffff;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  overflow: hidden;
  border-radius: 5px;

  /* The Grid Template */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

/* The Area - Join our community */
.join-us {
  padding: 28px 24px 32px;
}

.join-us__title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #2ab3b1;

  margin-bottom: 24px;
}

.join-us__highlight {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.1875px;
  color: #c0df33;

  margin-bottom: 16px;
}

.join-us__description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.175px;
  color: #9aa7be;
}

/* The Area - Monthly Subscription */
.subscription {
  background: #2ab3b1;
  padding: 24px;
}

.subscription__title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.225px;
  color: #ffffff;
  margin-bottom: 18px;
}

.subscription__price-area {
  /* The Flexbox Template */
  display: flex;
  align-items: flex-end;
  gap: 11px;

  margin-bottom: 4px;
}

.subscription__price {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.subscription__price-text {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.subscription__description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #ffffff;

  margin-bottom: 26px;
}

.subscription__button-area {
  margin-top: auto;
}

.subscription__button:link,
.subscription__button:visited {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #ffffff;

  transition: background-color 0.3s;

  /* To add the button */
  max-width: 263px;
  height: 48px;
  background: #c0df33;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;

  /* To center the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription__button:hover,
.subscription__button:active {
  color: #fff;
  background-color: #2ab3b1;
  border: 0.125rem solid #ffffff;
  border-radius: 5px;
}

/* The Area - Why Us */
.why-us {
  padding: 24px;
  background-color: rgba(42, 179, 177, 0.888);
}

.why-us__title {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.225px;
  color: #ffffff;

  margin-bottom: 18px;
}

.why-us__description {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.175px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

/* To add the h1 tag for screen readers */
.sr-only {
  position: absolute;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
